body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #003366,#004080,#0059b3
, #0073e6);
}
.container {
            display: flex;
            align-items: center;
            background-color: #d3d3d3;
            padding: 20px;
        }

        .container .title {
            flex: 1;
            font-size: 24px;
            font-weight: bold;
        }

        .container .buttons {
            display: flex;
            gap: 10px;
        }

        .container .buttons .btn {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

main {

    padding: 40px 10px 10px;
    max-width: 600px;
    margin: auto;
}

form {
    width: 100%;
    background-color: #f9f9f9;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}